<%- include("partials/header.ejs") %>

<main id="thought-main">
	<div id="function-con">
		<div class="breaker-div"></div>
		<div id="button-con">
			<a href="/create#thought-form"
				><button id="create-button">Create <i class="fa-solid fa-pen fa-sm" style="color: var(--primary);"></i></button></a
			>
			<button id="sort-button">Sort <i class="fa-solid fa-filter fa-sm" style="color: var(--primary);"></i></button>
		</div>
		<div class="breaker-div"></div>
	</div>
	<div id="post-con">
		<% if (locals.thoughts.length > 0) {%> <% for (thought of locals.thoughts)
		{%>
		<div class="thought-con length-<%=Math.floor(Math.random() * 3) + 1;%>">
			<h3><%=thought.title%></h3>
			<p><%=thought.content%></p>
			<div class="button-con"> 
				<button class="view post-btn">Edit</button>
				<button class="edit post-btn">View</button>
			</div>
		</div>
		<%}%><%} else {%>
		<h2>Head empty, no thought</h2>
		<%}%>
	</div>
</main>

<%- include("partials/footer.ejs") %>
